body {
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
  background-color: #f5f5f5;
}

header {
  background-color: #021c42;
  color: white;
  padding: 20px;
}

/* Box styling */
.box {
  background-color: white;
  width: 80%;
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  margin: 8px;
}

.profile-img {
  display: block;
  margin: 15px auto 0;
  width: 250px;
  border-radius: 8px;
}
